<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experta</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; background-color: #000000; font-family: Roboto, serif; font-size: 16px;">
    <table style="width: 600px; margin: 0 auto; border-collapse: collapse; background-color: #ffffff;">
        <!-- Header -->
        <%- include('partials/header.ejs') %>


        <!-- Yellow Section -->
        <tr>
            <td>
                <table style="width: 100%; background: #FFEE99; border-collapse: collapse; background-image: url(https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/emailer-bg-pattern.png); background-size: cover; background-position: center;">
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                            <img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/payment-withdraw.svg" alt="#">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h1 style="font-size: 28px; color: #171717; font-weight: 500; margin-bottom: 30px; margin-top: 0; line-height: 36px; letter-spacing: 1.4px;">
                                Your Withdrawal Request<br> Has Been Processed
                            </h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Main Content -->
        <tr>
            <td>
                <table style="width: 100%; background: #fff; border-collapse: collapse;">
                    <tr>
                        <td align="left" style="padding: 50px 50px 20px;">
                            <p style="font-size: 24px; color: #171717; font-weight: 500; margin: 0; line-height: 32px;">
                                Hi Sachin,
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                Your withdrawal request for [Amount] has been processed successfully. The amount has been transferred to your registered account.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 30px 50px 10px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 600; margin: 0; line-height: 24px;">
                                Transaction Details:
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 0px 50px 20px;">
                            <table style="width: 100%; background: #EFEFEF; border-collapse: collapse;">
                                <tr>
                                    <td style="padding: 20px; border: 2px solid #fff;">Amount Withdrawn</td>
                                    <td style="padding: 20px; border: 2px solid #fff; font-weight: 600;">1250</td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px; border: 2px solid #fff;">Date & Time</td>
                                    <td style="padding: 20px; border: 2px solid #fff; font-weight: 600;">Tuesday, 2 Jan 2024 | 09:35 am</td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px; border: 2px solid #fff;">Transfer Method</td>
                                    <td style="padding: 20px; border: 2px solid #fff; font-weight: 600;">Bank Transfer</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                It may take 1–3 business days for the amount to reflect in your account. If you have any questions, feel free to contact us at <b><a href="mailto:support@experta.io" style="color:#171717; text-decoration: none;">support@experta.io</a></b>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td align="left" style="padding: 20px 50px 0px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                Thank you for being a valuable part of Experta!
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td align="left" style="padding: 30px 50px 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                Best regards,<br>
                                <b>The Experta Team</b>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

           <!-- Footer -->
           <%- include('partials/footer') %>

           <!-- Social Media Section -->
           <%- include('partials/socialMedia') %>
    </table>
</body>
</html>
