<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experta</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; background-color: #000000; font-family: Roboto, serif; font-size: 16px;">
    <table style="width: 600px; margin: 0 auto; border-collapse: collapse; background-color: #ffffff;">
        <!-- Header -->
        <%- include('partials/header.ejs') %>


        <!-- Yellow Section -->
        <tr>
            <td>
                <table style="width: 100%; background: #FFEE99; border-collapse: collapse; background-image: url(https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/emailer-bg-pattern.png); background-size: cover; background-position: center;">
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                            <img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/profile-completion-reminder.svg" alt="#">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h1 style="font-size: 28px; color: #171717; font-weight: 500; margin-bottom: 30px; margin-top: 0; line-height: 36px; letter-spacing: 1.4px;">
                                Complete Your Profile to <br/>Unlock Full Access
                            </h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Main Content -->
        <tr>
            <td>
                <table style="width: 100%; background: #fff; border-collapse: collapse;">
                    <tr>
                        <td align="left" style="padding: 50px 50px 20px;">
                            <p style="font-size: 24px; color: #171717; font-weight: 500; margin: 0; line-height: 32px;">
                                Hi Sachin,
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                You're almost there! Complete your profile to unlock the full potential of Experta and access all features.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 20px 50px;">
                            <h2 style="font-size: 18px; font-weight: 600; line-height: 24px; margin-top: 0px; margin-bottom: 15px;">Why Complete Your Profile?</h2>
                            <ul style="padding: 0px; margin: 0px; list-style: none;">
                                <li style="font-weight: 600; display: flex; align-items: center; gap: 10px; margin-bottom: 10px;"><img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/check.png" alt="#" /> Personalized Experience</li>
                                <li style="font-weight: 600; display: flex; align-items: center; gap: 10px; margin-bottom: 10px;"><img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/check.png" alt="#" />Easier Connections with Experts</li>
                                <li style="font-weight: 600; display: flex; align-items: center; gap: 10px;"><img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/check.png" alt="#" />Full Access to Advanced Features</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                It only takes a few minutes to complete your profile!
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 20px 50px;">
                            <a href="javascript:void(0);" style="background: #FEDC33; color: #171717; text-decoration: none; border-radius: 100px; font-weight: 500; display: flex; align-items: center; width: 255px; height: 56px; justify-content: center;">Complete My Profile Now</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                Don’t miss out on getting the most out of Experta.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 30px 50px 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                Best regards,<br>
                                <b>The Experta Team</b>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

              <!-- Footer -->
              <%- include('partials/footer') %>

              <!-- Social Media Section -->
              <%- include('partials/socialMedia') %>
    </table>
</body>
</html>
