<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experta</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; background-color: #000000; font-family: Roboto, serif; font-size: 16px;">
    <table style="width: 600px; margin: 0 auto; border-collapse: collapse; background-color: #ffffff;">
        <!-- Header -->
        <tr>
            <td align="center" style="padding: 25px 0; background-color: #fff;">
                <a href="javascript:void(0)">
                    <img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/logo.svg" alt="Logo">
                </a>
            </td>
        </tr>

        <!-- Yellow Section -->
        <tr>
            <td>
                <table style="width: 100%; background: #FFEE99; border-collapse: collapse; background-image: url(https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/emailer-bg-pattern.png); background-size: cover; background-position: center;">
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                            <img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/payment-withdraw-failed.svg" alt="#">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h1 style="font-size: 28px; color: #171717; font-weight: 500; margin-bottom: 30px; margin-top: 0; line-height: 36px; letter-spacing: 1.4px;">
                                Withdrawal Failed – We're<br> Resolving It!
                            </h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Main Content -->
        <tr>
            <td>
                <table style="width: 100%; background: #fff; border-collapse: collapse;">
                    <tr>
                        <td align="left" style="padding: 50px 50px 20px;">
                            <p style="font-size: 24px; color: #171717; font-weight: 500; margin: 0; line-height: 32px;">
                                Hi Sachin,
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                We received your withdrawal request for 1250, but unfortunately, the transfer could not be processed due to a technical issue with the bank.<br /><br />
                                No worries! We’re already on it and will resolve this within 48 hours. The amount will either be reprocessed or credited back to your wallet.<br /> <br />
                                Thank you for your patience and understanding. If you have any questions, feel free to reach out to us at <b><a href="mailto:support@experta.io" style="color:#171717; text-decoration: none;">support@experta.io.</a></b>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 30px 50px 50px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                Best regards,<br>
                                <b>The Experta Team</b>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td>
                <table style="width: 100%; background: #fff; border-collapse: collapse;">
                    <tr>
                        <td style="padding: 0 50px;">
                            <hr style="border-top: 1px solid #e4e4e4; margin: 0px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 30px 50px 10px;">
                            <h2 style="font-size: 24px; color: #171717; font-weight: 500; margin: 0; line-height: 32px;">
                                Have any feedback for us?
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px 10px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                Share your feedback with us and help us serve you better:
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px 50px;">
                            <a href="mailto:support@experta.io" style="color: #FE7733; text-decoration: none;">support@experta.io</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Social Media Section -->
        <tr>
            <td>
                <table style="width: 100%; background: #EFEFEF; border-collapse: collapse;">
                    <tr>
                        <td align='center' style=" padding: 30px 50px 0px;">
                            <div
                                style="
                                display: flex;
                                justify-Content: space-between;
                                align-Items: center;
                                "
                            >
                            <a href="javascript:void(0)">
                                <img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/logo.svg" alt="Logo">
                            </a>                                
                                <div
                                style="
                                display: flex;
                                justify-Content: space-between;
                                align-Items: center;
                                gap:10px;
                                "
                            >
                                    <a href="javascript:void(0)"><img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/facebook-icon.png" alt="Facebook" width="24"></a>
                                    <a href="javascript:void(0)"><img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/twitter-icon.png" alt="Twitter" width="24"></a>
                                    <a href="javascript:void(0)"><img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/linkedin-icon.png" alt="LinkedIn" width="24"></a>
                                    <a href="javascript:void(0)"><img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/instagram-icon.png" alt="Instagram" width="24"></a>
                                    <a href="javascript:void(0)"><img src="https://expertabackend.s3.ap-south-1.amazonaws.com/platform/icons/youtube-icon.png" alt="YouTube" width="24"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 20px 50px 30px;">
                            <p style="font-size: 14px; color: #8B8B8B; font-weight: 400; margin: 0; line-height: 24px;">
                                Copyright © 2025 | All rights reserved by <b style="font-weight: 500;"><a href="javascript:void(0)" style="color: #171717; text-decoration: none;">Experta</a></b>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
