<tr>
            <td>
                <table style="width: 100%; background: #fff; border-collapse: collapse;">
                    <tr>
                        <td style="padding: 0 50px;">
                            <hr style="border-top: 1px solid #e4e4e4; margin: 0px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 30px 50px 10px;">
                            <h2 style="font-size: 24px; color: #171717; font-weight: 500; margin: 0; line-height: 32px;">
                                Have any feedback for us?
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px 10px;">
                            <p style="font-size: 16px; color: #171717; font-weight: 400; margin: 0; line-height: 24px;">
                                Share your feedback with us and help us serve you better:
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 0 50px 50px;">
                            <a href="mailto:support@experta.io" style="color: #FE7733; text-decoration: none;"><%= PLATFORM_MAILS.SUPPORT %></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>